flask
matplotlib
yfinance
gunicorn
math
numpy
pandas
nump.random
sklearn
sklearn.linear_model
scipy
numpy.polynomial.hermite
sys
os
time
datetime
backend_logic.database
sqlite3
backend_logic.pricing_logic
backend_logic.invariance_calculations
io
base64
matplotlib.figure