ul.horizontal-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

ul.horizontal-list li {
    margin-right: 10px;
    list-style-type: none;
}

.horizontal-form {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
}