<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Page</title>
    <link rel="stylesheet" href="static/styles.css">
</head>
<body>
<header>
    <h1>Contact Page</h1>
    <nav>
        <ul class = "horizontal-list">
            <button>
                <li><a href="/">Home</a></li>
            </button>
            <button>
                <li><a href="/program">Option Price Algorithm</a></li>
            </button>
            <button>
                <li><a href="/contact">Contact</a></li> 
            </button>
        </ul>
    </nav>
    </header>
<main>
    <h4>My contact information</h4>
    <ul>
        <li>Email:</li>
        <li>Phone:</li>
    </ul>
</main>
