<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <header>
        <h1>Monte Carlo Least Squares Option Pricing Home Page</h1>
        <nav>
            <ul class = "horizontal-list">
                <button>
                    <li><a href="/">Home</a></li>
                </button>
                <button>
                    <li><a href="/program">Option Price Algorithm</a></li>
                </button>
                <button>
                    <li><a href="/contact">Contact</a></li> 
                </button>
            </ul>
        </nav>
    </header>
    <main>
        <section id="project_logic">
            <h2>Project Logic</h2>
            <h4>Information about the logic behind this algorithms pricing scheme.</h4>
            <p>This...</p>
        </section>
    </main>
    <footer>
        <p>&copy; 2025 Zackary Francisco. All rights reserved. Enabled by yfinance.</p>
    </footer>
</body>
</html>